export(initBdHMM)
export(data2Gviz)
export(viterbi2Gviz)
export(getAvgSignal)
export(binarizeData)
export(runningMean)
export(getSizeFactors)
export(viterbi2GRanges)
export(initHMM)
export(getLogLik)
export(DirScore)
export(DimNames)
export(LogLik)
export(StateNames)
export(Transitions)
export(InitProb)
export(Emission)
export(EmissionParams)
export(HMM)
export(HMMEmission)
export(bdHMM)
export(getViterbi)
export(fitHMM)
export(getPosterior)
exportClasses(HMM)
exportClasses(HMMEmission)
exportClasses(bdHMM)
export(call_dpoilog)

import(Rsolnp)
import(methods)
import(GenomicRanges)
import(Gviz)
import(poilog)
import(IRanges)
import(BiocGenerics)
import(S4Vectors)
import(GenomeInfoDb)
importFrom(parallel, mclapply)

useDynLib(STAN)

