export(HMM)
export(HMMEmission)
export(bdHMM)
export(getViterbi)
export(fitHMM)
export(getPosterior)
exportClasses(HMM)
exportClasses(HMMEmission)
exportClasses(bdHMM)
useDynLib(STAN)
import(Rsolnp)
import(methods)
